<nav class="navbar navbar-expand-lg navbar-light px-0" style="background-color: red">
    <a class="navbar-brand px-3" href="/">IGN Top Stories Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {{#unless savedSwitch}}active{{/unless}}">
                <a href="/" class="nav-link pr-3">Home</a>
            </li>
            <li class="nav-item {{#if savedSwitch}}active{{/if}}">
                <a href="/saved" class="nav-link pr-3">Saved Articles</a>
            </li>

            <li class="nav-item pl-3">
                <button type="button" id="get-news-btn" class="btn btn-primary">Get New Articles</button>
            </li>
            {{!-- <li class="nav-item px-3">
                <div class="custom-control custom-switch custom-switch-lg">
                    <input type="checkbox" class="custom-control-input" id="saved-switch" {{#if savedSwitch}}checked{{/if}}>
                    <label class="custom-control-label" for="saved-switch">Saved</label>
                </div>
            </li> --}}
        </ul>
    </div>
</nav>
<div class="container-fluid px-0">
    <img class="header-image" src="/images/ign-entertainment-inc-vector-logo.png" alt="News Header Image">
</div>
<div class="container-fluid px-0" id="news-article-contents">
    {{#unless articles}}
    <div class="card m-4">
        <div class="card-header text-center font-weight-bold">
            No Articles Currently Loaded. Click on the Get New Articles Button to Grab Any New Articles.
        </div>
    </div>
    {{/unless}}
    {{#each articles}}
    <div class="card m-4">
        <div class="card-header font-weight-bold">
            {{title}}
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{teaser}}</li>
            <li class="list-group-item">
                <a href="{{link}}">Read Full Article</a>
                <i class="far fa-comment-dots px-3 notes" data-article-id="{{_id}}"> {{notes.length}} </i>
                {{#if saved}}
                <i class="fas fa-bookmark save" data-article-id="{{_id}}" data-state="saved"></i>
                {{else}}
                <i class="far fa-bookmark save" data-article-id="{{_id}}" data-state="unsaved"></i>
                {{/if}}

            </li>
        </ul>
    </div>
    {{/each}}
</div>